/*
* @Author: Raf Van Suetendael
* @Date:   01-07-2018 00:23:20
* @Last Modified by:   Raf Van Suetendael
* @Last Modified time: 01-07-2018 23:46:52
*/

.c-sidebar {
	position: fixed;
	z-index: 200;
	right: -$sidebar-width;
	background: $white;
	width: $sidebar-width;
	height: 100vh;
	padding: 50px;
	transition: $global-transition;
	
	@include media("<=tablet") {
		width: $sidebar-width * 2;
		right: -$sidebar-width * 2;
	}
	
	&.is-active {
		right: 0;
	}
}

.c-sidebar__toggle {
	position: fixed;
	right: 41px;
	top: 41px;
	overflow: hidden;
	cursor: pointer;
	div {
		transition: $global-transition;
		float: right;
		clear: both;
		background: $white;
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		&:first-child {
			width: 22px;
		}
		&:nth-child(3) {
			position: absolute;
			top: calc(50% - 2px);
		}
		&:last-child {
			width: 27px;
			margin-bottom: 0;
		}
	}
	&:hover,&:active,&:focus {
		div {
			background: $yellow;
			&:last-child,&:first-child {
				width: 100%;
			}
		}
	}
	&.is-active {
		div {
			background: $main-black;
			&:last-child,&:first-child {
				opacity: 0;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
		&:hover,&:active,&:focus {
			div {
				background: $yellow;
			}
		}
	}
}

.c-sidebar__nav ul {
	list-style: none;
	font-family: $serif-font;
	font-size: calc(20px + (35 - 20)*(100vw - 300px)/(1200 - 300));
	color: $main-black;
	margin: 0;
	padding: 0;
	li {
		border-bottom: 1px solid #979797;
		padding-bottom: 1rem;
		margin-top: 1.5rem;
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
	}
	a {
		transition: $global-transition;
		text-decoration: none;
		color: $main-black;
		display: block;
		&:hover,&:active,&:focus {
			color: $yellow;
			padding-left: 1rem;
		}
	}
}