/*
* @Author: Raf Van Suetendael
* @Date:   01-07-2018 00:23:20
* @Last Modified by:   Raf Van Suetendael
* @Last Modified time: 03-07-2018 00:37:44
*/

.c-sidebar {
	position: fixed;
	z-index: 200;
	right: -$sidebar-width;
	background: $white;
	width: $sidebar-width;
	height: 100vh;
	padding: 50px;
	transition: $global-transition;
	overflow: auto;
	max-height: 100vh;
	
	@include media("<=tablet") {
		width: $sidebar-width * 2;
		right: -$sidebar-width * 2;
	}

	@include media("<=phone") {
		width: calc(100vw - 20px);
		right: -100vw;
	}
	
	&.is-active {
		right: 0;
	}
}

.c-sidebar__toggle {
	position: fixed;
	right: 41px;
	top: 41px;
	overflow: hidden;
	cursor: pointer;
	div {
		transition: $global-transition;
		float: right;
		clear: both;
		background: $white;
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		&:first-child {
			width: 22px;
		}
		&:nth-child(3) {
			position: absolute;
			top: calc(50% - 2px);
		}
		&:last-child {
			width: 27px;
			margin-bottom: 0;
		}
	}
	&:hover,&:active,&:focus {
		div {
			background: $yellow;
			&:last-child,&:first-child {
				width: 100%;
			}
		}
	}
	&.is-active {
		div {
			background: $main-black;
			&:last-child,&:first-child {
				opacity: 0;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
		&:hover,&:active,&:focus {
			div {
				background: $yellow;
			}
		}
	}
}

.c-sidebar__nav ul {
	list-style: none;
	font-family: $serif-font;
	font-size: calc(20px + (40 - 20)*(100vw - 300px)/(1400 - 300));
	color: $main-black;
	margin: 0;
	padding: 0;
	li {
		border-bottom: 1px solid #979797;
		padding-bottom: 1.6rem;
		margin-top: 2rem;
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
	}
	a {
		transition: $global-transition;
		text-decoration: none;
		color: #231322;
		display: block;
		&:hover,&:active,&:focus {
			color: $yellow;
			padding-left: 1rem;
		}
	}
}
.c-sidebar__nav-item {
	span {
		background: #EBBA07;
	    color: #fff;
	    border-radius: 50%;
	    width: 1.8em;
	    height: 1.8em;
	    font-size: 0.8rem;
	    display: inline-block;
	    text-align: center;
	    line-height: 1.8em;
	    margin-top: -.8em;
	    position: absolute;
	    margin-left: 2em;
	}
}

.c-sidebar__social {
	margin-top: 5rem;
	a {
		transition: $global-transition;
		color: #231322;
		font-size: 2em;
		margin-right: 1em;
		&:hover,&:active,&:focus {
			color: $yellow;
			padding: 0;
		}
	}
}

.c-sidebar__info {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 20px;
	align-items: center;
	bottom: 50px;
	position: absolute;
	width: calc(90% - 50px);
	color: #231322;
	.c-sidebar__info-item {
		text-align: center;
		padding: .5em;
		border: 1px solid $main-text;
		.svg-inline--fa {
			color: $yellow;
			margin-right: .8em;
		}
		a {
			color: #231322;
			&:hover,&:active,&:focus {
				color: $yellow;
				padding: 0;
			}
		}
	}
	:first-child {
		grid-column: 1 / 3;
	}
	@include media("<=tablet") {
		display: none;
	}
}