/*
* @Author: Raf Van Suetendael
* @Date:   30-06-2018 23:27:33
* @Last Modified by:   Raf Van Suetendael
* @Last Modified time: 01-07-2018 00:54:01
*/

/// COLORS ///
$main-black: #1D1614;
$main-text: #ccc;
$white: #fff;

/// SPACING, WIDTHS, HEIGHTS, ... ///
$sidebar-width: 33.3333vw;
$global-transition: all .5s ease;