/*
* @Author: Raf Van Suetendael
* @Date:   30-06-2018 23:48:47
* @Last Modified by:   Raf Van Suetendael
* @Last Modified time: 30-06-2018 23:49:07
*/
body {
  background: $main-black;
  font-family: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $main-text;
}